.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: rgb(32, 30, 30);
  cursor: pointer;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
}

.headerOption:hover {
  color: rgb(238, 228, 228);
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
  color: black;
}


